@page
@model SoloBill.Areas.Identity.Pages.Account.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="1;url=/Identity/Account/Login" />
</head>
<body>
    <p>Logging out...</p>
</body>
</html>